{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Promociones</h1>
            </div>
        </div>
    </div>
   
</div>

<div class="content ">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-2 offset-md-10">
                            <a href="{% url 'product:add_promotion' %}" class="btn btn-info">+ Promoción</a>
                        </div>
                 
                    </div>
                    <div class="card-body" style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Juego</th>
                                    <th scope="col">Nombre</th>

                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if promotions %}
                                    {% for promotion in promotions%}
                                        <tr>
                                            {% if promotion.image %}
                                            <td><img style="width:60px;height: auto;"  src="{{ promotion.image.url }}" /></td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            <td>{{ promotion.name }}</td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <a href="{% url 'product:edit_promotion' promotion.id %}" class="btn btn-warning"> <i class="fa fa-edit"></i></a>
                                                    
                                                    </span>
                                                </div>
                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                 <p>no existen promociones</p>
                                {% endif%}
                            </tbody>
                        </table>
                    </div>
                    
                    </div>
                    
                </div>
            </div>

           
        </div>
    </div><!-- .animated -->
</div>


{% endblock%}

