<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
           
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="menu-icon fa fa-user"></i>  Administrador
                </a>
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="#"><i class="fa fa-cog"></i> Configuración</a>
                    <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Salir</a>
                </div>
            </div>
        </div>
    </div>

</header><!-- /header -->