{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cyber Caffe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/flag-icon.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/style-custom.css' %}" rel="stylesheet"/>
    </head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cyber Caffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/flag-icon.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    {% if form.errors %}
    {{ form.errors }} <!-- display the form errors if they exist -->
{% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text" class="form-control"  name="username">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="checkbox">
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 
</body>

</html>
